#topLeftLogo{
    margin-left: 10px;
    height:60px;
    width: auto;
    border: 1px solid black;
    border-radius: 15px;
}
#characters{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;

}
#planets{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}
#starships{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}

.space {
    margin-left: 10px;
}

.heart {
    float: right;
}

.nomejodasmas {
    float: left;
}

body {
    background: url("https://wallpapercave.com/wp/wp2902991.jpg") 
   
}
h1 {
    color: yellow
}

.card {
    margin: auto;
    padding: 70px 0;
    background-color: silver;
}
.card-body {
    text-align: center
}